.body {
  overflow: hidden;
}

.primary_highlight {
  background-color: red;
}

.secondary_highlight {
  background-color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row_container--centered {
  display: flex;
  flex-direction: row;
}

.single_column_container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_column_item {
  width: 650px;
  min-width: 300px;
  max-width: 650px;
}

.main_container {
  display: grid;
  grid-template-columns: 75px 1fr;
  height: 100vh;
}

.app_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: calc(75px-padding);
  min-width: calc(75px-padding);
  height: calc(100vh-padding);
  background-color: #1e3a8a;
}

.nav_btn {
  margin: 8px;
  width: 48px;
  height: 48px;
}

.stage {
  width: 100%;
  
}

.text_container {
  display: grid;
  grid-template-columns: 1fr; /* do not set template columns and rows */
  grid-template-rows: 1fr;
}

.text_content {
  overflow-y: auto;
}

.source_item {
  display: flex;
  flex-direction: row;
  width: 800px;
  max-width: 800px;
}

.home_page_container {
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  overflow-y: hidden;
  background-color: #f5f5f4;

}

.home_page__top_bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.25rem;
  height: 4.5rem;
  background-color: #1e40af;
  grid-column: 1 / span 6;
}

.home_page__list {
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
}

.first_page_container {
  display: grid;
  row-gap: 1.5rem;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: .2fr 9fr 100px;
  height: 100vh;
  overflow:hidden;
}

.first_page__actions {
  grid-column: 2 / span 4;
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

.first_page__content {
  min-width: 100%;
  padding: 2rem;
  padding-bottom: 8rem;
  grid-column: 1 / span 6;
  grid-row: 2 / span 2;
  justify-self: center;
  overflow-y: auto;
}

.first_page__fab_container {
  display: flex;
  gap: 1.2rem;
  align-self: center;
  justify-self: center;
  grid-column: 3 / span 2;
  grid-row-start: 3;
}

.first_page__fab_next {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-column: 6;
  grid-row-start: 3;
}

.second_page__container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 4.5rem 1fr;
}

.second_page__actions__container {
  background-color: #1e40af;
  grid-row: 1;
  grid-column: 1 / span 3;
  display: grid;
  height: 4.5rem;
  grid-template-columns: 1fr 8fr 1fr;
}

.second_page__actions--left {
  padding-left: 1rem;
  grid-row: 1;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.second_page__actions--right {
  padding-right: 1rem;
  grid-row: 1;
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.blind_draft__container {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-content: center;
  min-height: 100%;
}

.source_text_wrap {
  max-width: 65ch;
  margin: 0 auto;
}

.text_wrap {
  max-width: 600px;
}

.draft_text {
  overflow-y: auto;
  font-size: larger;
  word-spacing: .1rem;
  line-height: 1.5rem;
}

.second_page__center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  grid-row: 1;
}

.second_page__input_container {
  grid-row: 2;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.second_page__input {
  height: 90%;
  width: 600px;
}

.third_page__container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 4.5rem 1fr;
}

.third_page__draft_container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  min-height: 100%;
  padding: 1em;
}

.third_page__draft_container > textarea {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  width: 100%;
  min-height: 100%;
  max-width: 800px;
}

.third_page__input {
 
}

textarea {
  border: 1px;
  border-style: solid;
  padding: 1em;
}

.paragraph_text {
  text-indent: 2em;
  margin-bottom: 1.5em;
}