.body {
  overflow: hidden;
}

.primary_highlight {
  background-color: red;
}

.secondary_highlight {
  background-color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row_container--centered {
  display: flex;
  flex-direction: row;
}

.single_column_container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_column_item {
  width: 650px;
  min-width: 300px;
  max-width: 650px;
}

.main_container {
  display: grid;
  grid-template-columns: 75px 1fr;
  height: 100vh;
}

.app_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: calc(75px-padding);
  min-width: calc(75px-padding);
  height: calc(100vh-padding);
  background-color: #1565C0;
}

.nav_btn {
  margin: 8px;
  width: 48px;
  height: 48px;
}

.stage {
  width: 100%;
  
}

.text_container {
  display: grid;
  grid-template-columns: 1fr; /* do not set template columns and rows */
  grid-template-rows: 1fr;
}

.text_content {
  overflow-y: scroll;
}

.source_item {
  display: flex;
  flex-direction: row;
  width: 800px;
  max-width: 800px;
}